h1{
	text-align: center;
	font-family: helvetica;
}

body{
	background-color: lightpink;
	font-family: cursive;
	font-size: 15px;
	line-height: 15px;
}
.container1{
	float:left;

}
.a {
	
	color: hotpink;
	
	margin: auto;

}
.a:active {
	color: green	
}
.a:hover {
	color: white;
}
.a {
	line-height: 10px;
}
